<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gym Tracker</span>
</mat-toolbar>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a 
    mat-tab-link 
    routerLink="/sessions"
    [active]="currentRoute() === '/sessions'"
  >
    Sessions
  </a>
  <a 
    mat-tab-link 
    routerLink="/plans"
    [active]="currentRoute() === '/plans'"
  >
    Plans
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet/>
</mat-tab-nav-panel>
